# yaml-language-server: $schema=https://json.schemastore.org/clang-format.json
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AlignEscapedNewlines: Left
BreakBeforeBinaryOperators: NonAssignment
IndentPPDirectives: AfterHash

# vim: ft=yaml
# kate: syntax yaml;
