CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.vscode*
.DS_Store

# version
/src/version.h

# for package files
lpac_*.deb
lpac-*.zip

# for clion ignores
.idea
cmake-build-*
