name: clang-format Check
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run clang-format style check.
      uses: jidicula/clang-format-action@v4.15.0
      with:
        clang-format-version: '20'
        exclude-regex: '(cjson|dlfcn-win32)/.*'
